# Bundler config
/.bundle

# Default SQLite database
/db/*.sqlite3
/db/*.sqlite3-journal

# All logfiles and tempfiles
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
*.log
npm-debug.log*

# Byebug command history file
.byebug_history

# Files related to the frontend build
/node_modules/
/vendor/assets/stylesheets/gulp/
/vendor/assets/javascripts/gulp/

# History from node repl
.node_repl_history

# Generated assets that aren't managed by gulp
/app/assets/javascripts/
!/app/assets/javascripts/application.js
/app/assets/stylesheets/
!/app/assets/stylesheets/application.css
