%h1#title Statistics

.stats_class{ data: {results: @results.to_json, questions: @questions.to_json, users: @users.to_json, uresults: @uresults.to_json } }

%svg#graph{ :style => "height:100%; width:100%;" }
