%h1#title Statistics

.stats-data{ data: {results: @results.to_json, questions: @questions.to_json, users: @users.to_json, userStats: @userStats.to_json } }

%h2 Question results

#metachart
%svg#question-results-chart

- if is_instructor?
  %h2 Individual student statistics
  %ul#student-link-list
    - @users.select{ |user| not user.is_instructor? }.each do |user|
      %li= link_to user.username, user
