%h1#title Statistics

.stats-data{ data: {results: @results.to_json, questions: @questions.to_json, users: @users.to_json, userStats: @userStats.to_json } }

%h2 Question results

#metachart
%svg#question-results-chart

- if !is_instructor?
  - @users.select{ |user| not user.is_instructor? }.each do |user|
    %td
      = link_to 'See Every Question', user
