// This file contains things common to multiple files

// COLORS

$ui-gray-light: #fbfbfb;
$ui-gray-dark: #e5e5e5;
$ui-gray-darker: #ebebeb;

// FONTS

$font-stack: HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;

// SIZES

$tiniest: 0.1rem;
$tiny: 0.2rem;
$smaller: 0.5rem;
$smallmed: 0.7rem;
$small: 1rem;
$medium: 1.5rem;
$large: 2rem;
$larger: 5rem;

$tiniest-absolute: 1px;
