// Styles related to showing user errors

@import '_common';

$error-width: 45rem;

$flash-error-color: #db1e1e;
$flash-success-color: #1edb1e;

pre {
  background-color: #eee;
  padding: $small;
}

div.field,
div.actions {
  margin-bottom: 1rem;
}

#flash-box { // Flash/notice styles
  background-color: $ui-gray-light;
  border: 1px solid $ui-gray-dark;
  padding-top: $smaller;
  padding-bottom: $smaller;
  text-align: center;

  .flash-error {
    color: $flash-error-color;
  }
  .flash-success {
    color: $flash-success-color;
  }
}

.field_with_errors {
  padding: $tiny;
  background-color: red;
  display: table;
}

#error-explanation {
  width: $error-width;
  border: $tiny solid red;
  padding: $smallmed;
  padding-bottom: 0;
  margin-bottom: $large;
  background-color: #f0f0f0;

  h5 {
    text-align: left;
    font-weight: bold;
    padding: $small $small $small $medium;
    margin: -$smallmed;
    margin-bottom: 0;
    background-color: #c00;
    color: #fff;
  }

  ul {
    margin: $small $large;
    list-style: square;
  }
}

label {
  display: block;
}

.error {
  background-color: #fcaaa1;
  height: $larger;
  line-height: $larger;
  border-radius: 6px;
  text-align: center;
  font-weight: bold;
  position: relative;
  color: red;
}
