// Layout-related css and global styles

@import '_common';

$content-margin: $small;
$sidebar-width: 22rem;
$top-bar-height: 5rem;

* {
  box-sizing: border-box; // Padding and margin subtract from width
  font-family: $font-stack;
}

html, body {
  margin: 0; // Sidebars/etc. should be flush with edges
}

#top-bar {
  background: $ui-gray-light;
  border-bottom: $tiniest-absolute solid $ui-gray-dark;
  width: 100%;
  height: $top-bar-height;
  z-index: 100; // Bar ends up on top -- always

  // Vertical centering hack
  display: table;
  > * {
    display: table-cell;
    vertical-align: middle;
  }

  .logo {
    padding-left: $medium;
    font-size: $large;
  }

  .logged-in-as {
    padding-right: $small;
    text-align: right;

    a {
      text-decoration: none;
    }
  }
}

nav {
  position: absolute;

  background: $ui-gray-light;
  border-right: $tiniest-absolute solid $ui-gray-dark;

  width: $sidebar-width;
  top: $top-bar-height;
  bottom: 0;
  left: 0;

  padding: $small;
  z-index: 90;

  ul {
    list-style-type: none;
    margin: 0;

    li {
      margin: 0;
    }
  }

  a { // Each link expands to fill the li, so the whole area is clickable
    display: block;
    text-decoration: none;
    padding: $smaller;

    &:hover {
      background: $ui-gray-darker;
    }
  }
}

#content {
  margin-top: $content-margin;
  margin-bottom: $content-margin;
  margin-left: $sidebar-width + $content-margin * 2;
  margin-right: $content-margin;
}

.invisible {
  display: none;
}

.block {
  display: inline-block;
}
