// Layout-related css and global styles

@import '_common';

$content-margin: $small;
$sidebar-width: 22rem;
$sidebar-width-mobile: 5rem;
$top-bar-height: 5rem;

$mobile-width: 667px;

* {
  box-sizing: border-box; // Padding and margin subtract from width
  font-family: $font-stack;
}

html, body {
  margin: 0; // Sidebars/etc. should be flush with edges
  height: calc(100% - 80px);
  width: 100%;
}

#top-bar {
  position: absolute;

  background: $ui-gray-light;
  border-bottom: $tiniest-absolute solid $ui-gray-dark;

  height: $top-bar-height;
  top: 0;
  width: 100%;

  z-index: 100; // Bar ends up on top -- always

  // Vertical centering hack
  display: table;
  > * {
    display: table-cell;
    vertical-align: middle;
  }

  .logo {
    padding-left: $medium;
    font-size: $large;
  }

  .logged-in-as {
    padding-right: $small;
    text-align: right;

    a {
      text-decoration: none;
    }
  }
}

@media only screen and (max-width: $mobile-width) {
  nav {
    width: $sidebar-width-mobile;
  }
  #content {
    margin-left: $sidebar-width-mobile + $content-margin * 2;
  }
}

nav {
  position: fixed;

  background: $ui-gray-light;
  border-right: $tiniest-absolute solid $ui-gray-dark;

  width: $sidebar-width;

  top: 0;
  bottom: 0;
  left: 0;

  padding: $top-bar-height + $small $small $small $small;
  z-index: 90;

  a { // Each link expands to fill the li, so the whole area is clickable
    display: block;
    padding: $smaller;
    text-decoration: none;

    &:hover {
      background: $ui-gray-darker;
    }
  }

  hr {
    margin: 0;
  }

  ul {
    list-style-type: none;
    margin: 0;

    li {
      margin: 0;
    }
  }
}

#content {
  margin-top: $top-bar-height + $content-margin;
  margin-bottom: $content-margin;
  margin-left: $sidebar-width + $content-margin * 2;
  margin-right: $content-margin;

  height: 100%;
  width: auto;
}

@media only screen and (max-width: $mobile-width) {
  nav {
    width: $sidebar-width-mobile;
  }
  #content {
    margin-left: $sidebar-width-mobile + $content-margin * 2;
  }
  .mobile-hide {
    display: none;
  }
}

.invisible {
  display: none;
}

.block {
  display: inline-block;

  a {
    color: darkslategrey;
  }
}

.nomargin {
  margin-top: $large;
  margin-bottom: $large;

  input, form {
    margin-bottom: 0.1rem;
  }
}
